#content{

}
.entire-news{
    display: inline-block;
    background-color: white !important;
    margin: 10px;
}
.title{
    line-height: 1.2;
    background: 0 0;
    font-family: Merriweather,serif;
    font-weight: 700;
    padding: .875em .781em .125em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 2em;
   
}
a{
    color: black;
}
a:hover{
     text-decoration: none;
     color: #D74B1F;
}
.preview{
    padding: .313em 1.563em .625em;
    max-width: 100%;
    color: #949494;
    font-size: 1.3em;
    margin: 0 0 .725em;
    line-height: 120%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-weight: 700;
}

body {
    background-color: #F0F0F0;
}

.img-head {
width:100%;
height:350px;
object-fit:cover;
}

.header {
  background-color: #f1f1f1;
  text-align: center;
}


.media{
    height: 100px;
    background-color: white;
    border-top-color: #F0F0F0;
    border-top-style: solid;
    border-top-width: 5px;
}
.facebook{
    width:100px;
    height: 100px;
    float:left;
    margin-left: 50px;
}

.tweeter{
    width:100px;
    height: 100px;
    float:right;
    margin-right: 50px;
}
img{
height: 100%; 
width: 100%; 
object-fit: contain;
}

.info{
    height:50px;
}
.author{
    margin-left: 20px;
    color: #D74B1F;
    margin-top: .3em;
    font-size: 1.1em;
    font-weight: 600;
    float:left;
}
.publ-date{
    margin-top: .3em;
    margin-right: 20px;
    color: grey;
  float:right;
}